h1 {
  color: black;
  font-size: 50px;
  font-weight: 100px;
  line-height: 20px;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
  color: rgb(135, 135, 135);
  font-size: 15px;
  font-weight: 100;
}

li:first-letter {
  text-transform: capitalize;
}

#search-btn {
  margin-left: 160px;
}
.app {
  max-width: 475px;
  margin: 30px auto;
}
.app-wrapper {
  max-width: 475px;
  margin: 30px auto;
}
